body{
	font-size: 14px;
	font-family: "黑体";
}

.bd{
	border: solid 1px red;
}

.org{
	color: #ff6600;
}

.box_inner{
	width: 1200px;
	margin: 0 auto;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clear{
	clear: both;
}
.box900{
	width: 900px;
	margin: 0 auto;
}
.colorf60{
	color: #FF6600;
}

.colorcd{
	color: #CDCDCD;
}

.font16{
	font-size: 16px;
}

.font18{
	font-size: 18px;
}

.pdtop12{
	padding-top: 12px ;
}


.title{
	font-size: 18px;
	text-indent: 20px;
	height: 40px;
	line-height: 40px;
	border-bottom: 5px solid #FF6600;
}

.delline{
	text-decoration: line-through;
}



/*单选选项卡*/
input[type=radio]{
	display: none;
}
/*隐藏选项卡内容*/
.display_content{
	display: none;
}


/*楼层标题*/
.floor_title{
	height: 50px;
	border-bottom: 6px solid #FF6600;
}

.floor_title .floor_title_text{
	width: 186px;
	line-height: 50px;
	text-align: center;
	background: #FF6600;
	color: white;
	font-size: 24px;
}


